body {
  margin: 0;
  background: #fff7f5;
  font-family: 'Span', sans-serif;
  font-weight: 800;

}
img{
  height: 80%;
}
.navbar{
  display: flex;
  width: 100%;
  height: 80px;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 80px;
  float: left;
  user-select: none;
}
.link-group{
  display: flex;
  float: right;
  width: 100%;
  height: 100%;
  justify-content: end;
  transition: 1s;
}
ul{
  position: relative;
  right: 100px;
  float: right;
  list-style: none;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80%;
  float: left;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 0px 10px;
}
a{
  text-decoration: none;
  color: #EAC7B4;
}
span{
  display: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #fff7f5;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav a:hover {
  color: #707070;
}

nav a::before {
  content: '';
  display: block;
  height: 0;
  background-color: #FFFF;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color:inherit;
}
.section{
  width: 80%;
  min-height: 350px;
  background-color: #ffff;
}
h2{
  margin-top: 330px;
  float: center;
  color:#FAE9D9;
  font-family: 'Span', serif;
  font-size: 50px;
}
section {
  z-index: 1000;
  width: 80%;
  display: space-evenly;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-top: 500px;
}
.headshot img{
  float: right;
  border-radius: 25px;
  width: 50%;
  height: 50%;
  margin-right: 300px;
}
h3{
  font-family: 'Span', serif;
  font-size: 40px;
}
.bio {
  width: 700px;
  height: 700px;
  flex-wrap: wrap;
  float: left;
  background-color: white;
  color: #707070;
  font-family: "Poppins", normal;
  text-align: center;
  margin-left: 200px;
}

.footer-distributed {
  background-color: #EAC7B4;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
    font-family: 'Span', sans-serif;
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 24px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
}
.footer-distributed .footer-left {
  width: 33.3%;
  color: #ffffff;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 60px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: block;
  line-height: 2;
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.footer-distributed .footer-company-name {
  color: #707070;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #EAC7B4;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 25%;
  text-align: center;
  line-height: 42px;
  margin: 0px;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 18px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-size: 24px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .body {
    float: none;
    width: auto;
  }
}